<div id="albumModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/albums']" [queryParams]="{user_id: _userId}" aria-hidden="true">×</button>
                <h1 class="text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>Change Album
                </h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" #albumForm="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="New album name" [(ngModel)]="_title"
                            required minlength="2" maxlength="30"
                            name="title" id="title" ngControl="title" #title="ngModel" />
                        <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                            <span *ngIf="title.errors && title.errors.required">
                                Title is required
                            </span>
                            <span *ngIf="title.errors && title.errors.minlength">
                                Title is too short (minimum 2 character)
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" (click)="change()"[disabled]="!albumForm.form.valid || _disabled">Change</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>