<div *ngIf="_albums" class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1 class="page-header">
                    {{_username}} albums
                    <button *ngIf="_isOwner" type="button" class="btn btn-success" [routerLink]="['/add-album']"><i class="fa fa-plus"></i></button>
                </h1>
            </div>
        </div>
    </div>
    <div *ngIf="_albums.length == 0" class="jumbotron">
        <div class="container">
            <h2>Hello, {{_username}}!</h2>
            <p>Please add your albums</p>
            <p>
                <a class="btn btn-primary btn-lg" [routerLink]="['/add-album']">Add album</a>
            </p>
        </div>
    </div>
    <div class="row album-box" *ngFor="let album of _albums">
        <div class="col-md-1 text-center">
            <p>
                <i class="fa fa-camera fa-4x"></i>
            </p>
            <p>{{convertDateTime(album.creationDate)}}</p>
            <p *ngIf="album.private">
                <span class="label label-info">Private</span>
            <p>
        </div>
        <div class="col-md-5">
            <a *ngIf="album.totalPhotos > 0" class="fancybox" rel="gallery" href="{{album.thumbnail}}" title="{{album.title}}">
                <img class="media-object img-responsive album-thumbnail" src="{{album.thumbnail}}" alt="" />
            </a>
            <a *ngIf="album.totalPhotos == 0" class="fancybox" rel="gallery" href="{{_defaultThumbnail}}" title="Empty Album">
                <img class="media-object img-responsive album-thumbnail" src="{{_defaultThumbnail}}" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <h3>
                <a *ngIf="album.totalPhotos > 0 || _isOwner" [routerLink]="['/albums', album.id]">{{album.title}}</a>
                <p *ngIf="album.totalPhotos == 0 && !_isOwner">{{album.title}}</p>
                <div *ngIf="_isOwner" class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" (click)="deleteAlbum(album)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/change-album', album.id]">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>                
                </div>
            </h3>
            <p>
                Photos: <span class="badge"> {{album.totalPhotos}} </span>
                <span *ngIf="!album.private" class="btn btn-xs btn-success" style="cursor:default;">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-thumbs-up fa-stack-2x fa-inverse"></i>
                    </span>
                    <span class="badge"> {{album.totalLikes}} </span>
                </span>
                <span *ngIf="album.private">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-thumbs-up fa-stack-2x"></i>
                    </span>
                    <span class="badge"> {{album.totalLikes}} </span>
                </span>   
            </p>
            <a *ngIf="album.totalPhotos > 0" class="btn btn-primary" [routerLink]="['/albums', album.id]">View photos <i class="fa fa-angle-right"></i></a>
        </div>
        <hr/>
    </div>
    <hr>
</div>

<footer *ngIf="_pagesCount > 1" class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <div style="display:inline">
            <ul class="pagination pagination-sm">
                <li><a *ngIf="showLeftButtons()" (click)="search(1)"><<</a></li>
                <li><a *ngIf="showLeftButtons()" (click)="search(_page-1)"><</a></li>
                <li *ngFor="let n of numericButtons()" [ngClass]="{active: n == _page}">
                    <a *ngIf="n != _page" (click)="search(n)">{{n}}</a>
                    <span *ngIf="n == _page">{{n}}</span>
                </li>
                <li><a *ngIf="showRightButtons()" (click)="search(_page+1)">></a></li>
                <li><a *ngIf="showRightButtons()" (click)="search(_pagesCount)">>></a></li>
            </ul>
        </div>
    </div>
</footer>