<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{username}} photos
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 picture-box" *ngFor="let photo of photos">
            <a class="fancybox" rel="gallery" href="{{photo.image}}">
                <img src="{{photo.image}}" alt="{{photo.title}}" class="img img-responsive full-width thumbnail" />
            </a>
        </div>
    </div>
</div>



