<div id="albumModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/photos']" [queryParams]="{user_id: _userId}" aria-hidden="true">×</button>
                <h1 class="text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>Change Photo
                </h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" #addImage="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="New Photo title" [(ngModel)]="_title"
                            required  maxlength="30" 
                            name="title" id="title" ngControl="title" #title="ngModel" />
                        <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                                Title is required
                        </div>
                    </div>
                    <div class="form-group">
                        <div *ngIf="_albums && _albums.length > 0" class="form-group">
                            <select class="form-control input-lg" id="selectAlbum" [(ngModel)]="_albumId" name="albumId">
                                <option *ngFor="let album of _albums" [value]="album.id" [attr.selected]="_albumId == album.id ? true : null">
                                    {{album.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" (click)="change()" [disabled]="!title.valid || _disabled">Change</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>