<div class="container  center-block">
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">
                Users
            </h1>
        </div>
    </div>
    <div class="row" *ngFor="let user of _users">
        <div class="col-md-10">
            <div class="col-md-2">
                <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="col-md-4">
                    <h3>{{user.Username}}</h3>
                    <p>Likes: 0</p>
            </div>
            <div class="col-md-2">
                <a *ngIf="user.TotalAlbums > 0" [routerLink]="['/albums']" [queryParams]="{userId: user.Id}" (click)="saveSelected(user)">Albums: <span class="badge">{{user.TotalAlbums}}</span></a>
                <p *ngIf="user.TotalAlbums == 0" >Albums: <span class="badge">{{user.TotalAlbums}}</span></p>
            </div>
            <div class="col-md-2">
                <a *ngIf="user.TotalPhotos > 0" [routerLink]="['/photos']" [queryParams]="{userId: user.Id}" (click)="saveSelected(user)">Photos: <span class="badge">{{user.TotalPhotos}}</span></a>
                <p *ngIf="user.TotalPhotos == 0">Photos: <span class="badge">{{user.TotalPhotos}}</span></p>
            </div>
        </div>
        <hr/>
    </div>
    <hr>
</div>