<div class="container  center-block">
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">
                Users
            </h1>
        </div>
    </div>
    <div class="row" *ngFor="let user of users">
        <div class="col-md-10">
            <div class="col-md-2">
                <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="col-md-4">
                    <h3>{{user.username}}</h3>
                    <p>Likes: 0</p>
            </div>
            <div class="col-md-2">
                <a *ngIf="user.totalAlbums > 0" [routerLink]="['/albums']" [queryParams]="{user_id: user.id}">Albums: <span class="badge">{{user.totalAlbums}}</span></a>
                <p *ngIf="user.totalAlbums == 0" >Albums: <span class="badge">{{user.totalAlbums}}</span></p>
            </div>
            <div class="col-md-2">
                <a *ngIf="user.totalPhotos > 0" [routerLink]="['/photos']" [queryParams]="{user_id: user.id}">Photos: <span class="badge">{{user.totalPhotos}}</span></a>
                <p *ngIf="user.totalPhotos == 0">Photos: <span class="badge">{{user.totalPhotos}}</span></p>
            </div>
        </div>
        <hr/>
    </div>
    <hr>
</div>